/*.log
/target
/*-init.clj
/dev-resources/public/js/*min
/dev-resources/public/js/*dev
/dev-resources/public/js/examples-dev.js
/dev-resources/public/js/basics-dev.js
/dev-resources/public/js/integration.js
/screenshots/*
out
*.*~

.lein-failures


pom.xml
pom.xml.asc

